@{
    ViewData["Title"] = "Home Page";
}



<img src="LaytonTemple.jpg" style="background-size:cover; background-position:center;position:relative;margin-left:75px" />
<div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -200%); color: white; ">
    <h1 style="font-size:80px">Welcome</h1>
    <p>Sign up for a tour of the nearly constructed Layton, Utah, USA Temple</p>
</div>


<div class="row p-1 m-1">

    <div class="col">
        <p>
            We can only add a limited number of tours at this time. They will be removing the visitors center soon
            so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk
            to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to
            facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected
            date and time. We have a lot of last minute cancelations.
        </p>

        <p>We can do groups on Saturday, please text me at 801-628-4488.</p>
    </div>

    <div class="col">
        <h3>General Tour Instructions:</h3>

        <ul>
            <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
            <li>Dress casual, except on Sunday</li>
        </ul>

        <h3>Special Accommodations (check the appropriate box when signing up for a tour):</h3>

        <ul>
            <li>Spanish-speaking tours are available, by request.</li>
        </ul>

        <h3>Available Tours:</h3>
        <ul>
            <li>Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes</li>
            <li>Trailer Tour: On Sunday. Masks are required</li>
        </ul>
    </div>
</div>

<h4 class="p-1 m-1">Please call or text 801-628-4488 with questions or special requests.</h4>