@{
    ViewData["Title"] = "Sign Up";
}

@model Appointment

<div class="text-center">
    <h1>Tour Sign Up</h1>
    <h4>Please choose a date and time for your tour.</h4>
</div>


<!--<table class="table-outlined">
    <tr>-->
        @* we could implement a calendar to pick the date dynamically and store that to the session somehow - like the example *@
        <!--<th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>-->
    @*<tr>
        @foreach (var t in Model)
        {
            <td><button>@t.AppointmentTime</button></td>
        }
    </tr>*@
<!--</table>-->
<div class="container " >
    <div class="btn-group-lg">
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">8 AM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">9 AM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">10 AM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">11 AM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">12 AM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">1 PM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">2 PM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">3 PM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">4 PM</a><br />
        <a class="btn btn-primary" style="width:1000px;" asp-controller="Home" asp-action="AddGroupForm">5 PM</a><br />
    </div>
</div>