@{
    ViewData["Title"] = "Sign Up";
}

@model List<Appointment>

<div class="text-center">
    <h1>Tour Sign Up</h1>
    <h4>Please choose a date and time for your tour.</h4>
</div>


<!--<table class="table-outlined">
    <tr>-->
@* we could implement a calendar to pick the date dynamically and store that to the session somehow - like the example *@
<!--<th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
</tr>-->
@*<tr>
        @foreach (var t in Model)
        {
            <td><button>@t.AppointmentTime</button></td>
        }
    </tr>*@
<!--</table>-->
@* I want when they click one of these buttons that the time slot will get carried over into the addgroupform *@
<div class="container ">
    <div class="btn-group-lg">
        @foreach (Appointment x in Model)
        {
            @if (x.Taken == false)
            {
                <form method="get" asp-controller="Home" asp-action="AddGroupForm">
                    <input type="hidden" value="@x.AppointmentId" name="TimeId" />
                    <button type="submit" class="btn btn-primary" style="width:1000px;">@x.AppointmentTime</button>
                </form>
                <br />
            }
        }
    </div>
</div>


     
